<!doctype html>
<html>
	<head>
		<title>Controller flow Demo</title>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>
	
	<body bgcolor="cyan">
		<h1>Controller Flow Demo AngularJS Application</h1>
	
		<div ng-app="mainApp" ng-controller="StudentController">
		<p>First name : <input type="text" ng-model="student.fname"></p>
		<p>Last name : <input type="text" ng-model="student.lname"></p>
		<hr/>
			Your name : {{student.fullname()}}
		</div>
	
	<script>
		var myApp = angular.module("mainApp",[]);
		
		myApp.controller("StudentController",function($scope){
			$scope.student = {
				fname : "Akshay",
				lname : "Khavate",
				
				fullname:function(){
				var studentobj = $scope.student;
				return studentobj.fname+" "+studentobj.lname;
			}
			};	
		});
	</script>
   </body>
</html>
