<!doctype html>
<html>
	<head>
		<title>Filters Demo</title>
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
		
	</head>
	
	<body>
		<center>
		<h1>Sample AngularJS Application for creating Table</h1>
		<div ng-app="mainApp" ng-controller="StudentController">
			
			<table border="0">
				<tr>
					<td>firstname</td>
					<td><input type="text" ng-model="student.fname"></td>
				</tr>
				<tr>
					<td>lastname</td>
					<td><input type="text" ng-model="student.lname"></td>
				</tr>
				
				<tr>
					<td>Name</td>
					<td>{{student.fullname()}} </td>
				</tr>
				<tr>
					<td>Subject</td>
					<td>
						<table>
							<tr>
								<th>Name</th>
								<th>Marks</th>
							</tr>
							<tr ng-repeat = "sub in student.subjects">
								<td>{{sub.name}} </td>
								<td>{{sub.marks}} </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
		</div>
		
		<script>
			var myapp = angular.module("mainApp",[]);
			
			myapp.controller('StudentController',function($scope){
				$scope.student={
					fname : "Akshay",
					lname : "Khavate",
					fees : 999,
					subjects :[
						{name:'JavaScript', marks:90},
						{name:'AngularJS', marks:85},
						{name:'Python', marks:78},
						{name:'Data Science', marks:80},
						{name:'AI', marks:75},
						{name:'Machine Learning', marks:83},
						{name:'IOT', marks:70}
					],
					fullname:function(){
						var studentobj = $scope.student;
						return studentobj.fname+" "+studentobj.lname;
					}
				};
			});
		</script>
		</center>	
	</body>
</html>
